<!-- Carrusel -->
{% load static %}
<div class="slider">
    <div class="owl-carousel">
        <div class="item"><img  class="img-fluid rounded" src="{% static 'core/vendor/owlcarousel/img/amazon-logo.jpg' %}"></div>
        <div class="item"><img  class="img-fluid rounded" src="{% static 'core/vendor/owlcarousel/img/avast-logo.jpg' %}"></div>
        <div class="item"><img  class="img-fluid rounded" src="{% static 'core/vendor/owlcarousel/img/cisco-logo.jpg' %}"></div>
        <div class="item"><img  class="img-fluid rounded" src="{% static 'core/vendor/owlcarousel/img/django-logo.jpg' %}"></div>
        <div class="item"><img  class="img-fluid rounded" src="{% static 'core/vendor/owlcarousel/img/docker-logo.jpg' %}"></div>
        <div class="item"><img  class="img-fluid rounded" src="{% static 'core/vendor/owlcarousel/img/fortinet-logo.jpg' %}"></div>
        <div class="item"><img  class="img-fluid rounded" src="{% static 'core/vendor/owlcarousel/img/microsoft-logo.jpg' %}"></div>
        <div class="item"><img  class="img-fluid rounded" src="{% static 'core/vendor/owlcarousel/img/oracle-logo.jpg' %}"></div>
        <div class="item"><img  class="img-fluid rounded" src="{% static 'core/vendor/owlcarousel/img/python-logo.jpg' %}"></div>
    </div>
</div>