<p class="m-2">
  {% if LINK_TWITTER %}
    <a href="{{LINK_TWITTER}}" class="link-social">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  {% endif %}

  {% if LINK_FACEBOOK %}
    <a href="{{LINK_FACEBOOK}}" class="link-social">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  {% endif %}

  {% if LINK_INSTAGRAM %}
    <a href="{{LINK_INSTAGRAM}}" class="link-social">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fab fa-instagram fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  {% endif %} 

  {% if LINK_LINKEDIN %}
    <a href="{{LINK_LINKEDIN}}" class="link-social">
      <span class="fa-stack fa-lg">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin-in fa-stack-1x fa-inverse"></i>
      </span>
    </a>
  {% endif %}        
</p>
      