{% extends 'core/base.html' %}

{% load static %}

{% block title %}Vacantes{% endblock %}

{% block content %}
{% for vacancy in vacancies%}
<section class="page-section about-heading">
  <div class="container">
    <img class="img-fluid rounded mx-auto d-block about-heading-img mb-3 mb-lg-0" src="{% static 'core/img/job.jpg' %}" alt="">
    <div class="about-heading-content">
      <div class="row">
        <div class="col-xl-9 col-lg-10 mx-auto">
          <div class="bg-faded rounded p-5">
            <div class="cta-innerv text-left rounded">
              <p class="mb-0 mbt"> <b>Puesto:</b> {{vacancy.position}}</p>
              <p class="mb-0 mbt"> <b>Escolaridad:</b> {{vacancy.education}}</p>
              <p class="mb-0 mbt"> <b>Experiencia:</b> {{vacancy.experience}}</p>
              <p class="mb-0 mbt"> <b>Edad:</b> {{vacancy.age}}</p>
              <p class="mb-0 mbt"> <b>Idiomas:</b> {{vacancy.languages}}</p>
              <p class="mb-0 mbt"> <b>Conocimientos:</b> {{vacancy.knowledge|safe}}</p>
              <p class="mb-0 mbt"> <b>Actividades:</b> {{vacancy.activities|safe}}</p>
              <p class="mb-0 mbt"> <b>Disponibilidad para viajar:</b> {{vacancy.travel|yesno:'Sí, No'}}</p>
              <p class="mb-0 mbt"> <b>Número de plazas:</b> {{vacancy.places}}</p>
              <p class="mb-0 mbt"> <b>Fecha de Publicación:</b> {{vacancy.published}}</p>
              <p class="mb-0 mbt"> <b>Contacto:</b> {{vacancy.author}}</p>
            </div>
          </div>  
        </div>
      </div>
    </div>
  </div>
</section>
{% endfor %}
{% endblock %}